* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f7f7f7;
}

header {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.intro {
    padding: 40px 20px;
    text-align: center;
    background-color: #e0f7fa;
    margin-top: 20px;
}

.intro h2 {
    font-size: 1.8em;
    color: #4CAF50;
}

.intro p {
    font-size: 1.2em;
    margin-top: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.chapters {
   padding: 20px; 
    text-align: center;
    background-color: #fff;
    margin-top: 20px;
}

.chapters h3 {
    font-size: 1.5em;
    color: #333;
}

.chapter-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.chapter {
    display: inline-block;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.chapter:hover {
    background-color: #388E3C;
}

.image-container {
    padding: 20px;
    text-align: center;
    background-color: #fff;
    display: flex;
    justify-content: center; /* Центрируем изображения по горизонтали */
    gap: 20px; /* Расстояние между изображениями */
    flex-wrap: wrap; /* Позволяет переносить изображения на следующую строку при недостатке места */
    margin-top: 200px;
}

.image-container h4 {
    font-size: 1.5em;
    text-align: center;
    width: 100%; /* Убедитесь, что заголовок занимает всю ширину */
    margin-bottom: 10px; /* Расстояние от заголовка до изображений */
}

.image-item {
    width: 150px; /* Ширина каждого изображения */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    border-radius: 10px; /* Закругленные углы */
}

.image-description {
    font-size: 14px;
    color: #555;
    text-align: center;
    margin-top: 5px;
}


footer {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    margin-top: 15px;
}
